In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# df = pd.read_csv('EK_all.csv')
# df

In [3]:
# def cleaner(df):
#     df.drop(columns=['TRAILING_LOAD_AFFECTED', 'TIMING_LOAD_AFFECTED', 'FINANCIAL_YEAR_AND_PERIOD',
#                      'END_STANOX', 'START_STANOX','PLANNED_ORIG_LOC_CODE_AFF', 'INCIDENT_NUMBER','PLANNED_ORIG_GBTT_DATETIME_AFF','PLANNED_DEST_GBTT_DATETIME_AFF',
#                      'PLANNED_DEST_LOC_CODE_AFFECTED', 'INCIDENT_START_DATETIME', 'INCIDENT_END_DATETIME',
#                      'SECTION_CODE', 'ATTRIBUTION_STATUS', 'INCIDENT_EQUIPMENT', 'INCIDENT_DESCRIPTION',
#                      'TRAIN_SCHEDULE_TYPE_AFFECTED', 'INCIDENT_RESPONSIBLE_TRAIN', 'EVENT_DATETIME', 'RESP_TRAIN',
#                      'REACT_TRAIN', 'NETWORK_RAIL_LOCATION_MANAGER', 'OPERATOR_AFFECTED', 'ORIGIN_DEPARTURE_DATE',
#                      'INCIDENT_REASON_DESCRIPTION', 'INCIDENT_CREATE_DATE'], inplace=True)

#     df = df[df['TRAIN_SERVICE_CODE_AFFECTED'] != 22216001.0]
    
    

#     return df

In [4]:
#data = cleaner(df)

In [5]:
#data.head()

In [6]:
#data2 = data[(data['PERFORMANCE_EVENT_CODE'] == 'A') | (data['PERFORMANCE_EVENT_CODE'] == 'M')]

In [7]:
# import pandas as pd

# from google.cloud import bigquery
# from pathlib import Path

# def load_data_to_bq(
#     data: pd.DataFrame,
#     gcp_project: str,
#     bq_dataset: str,
#     table: str
# ) -> None:
#     'Save the dataframes to BigQuery'

#     # Checking if data is in dataframe format
#     assert isinstance(data, pd.DataFrame)
#     # Assigning a name to the table
#     table_name = f'{gcp_project}.{bq_dataset}.{table}'
#     print(table_name)
#     # Calling big query client
#     client = bigquery.Client()

#     write_mode = 'WRITE_APPEND'
#     job_config = bigquery.LoadJobConfig(write_disposition=write_mode)
#     job_config.schema_update_options = ['ALLOW_FIELD_ADDITION', 'ALLOW_FIELD_RELAXATION']

#     job = client.load_table_from_dataframe(data, table_name, job_config=job_config)
#     result = job.result()

#     print(f'âœ… Data saved to BQ')

In [8]:
#!echo $GOOGLE_APPLICATION_CREDENTIALS

In [9]:
#load_data_to_bq(data=data2, gcp_project=GCP_PROJECT, bq_dataset=BQ_DATASET, table='train_delays_cleaned')

In [10]:
GCP_PROJECT = 'train-delays-406412'

BQ_DATASET = 'train_delays'

In [11]:


query = '''
SELECT * FROM `train-delays-406412.train_delays.train_delays_cleaned`
'''

In [12]:
from google.cloud import bigquery
from google.oauth2 import service_account
from pathlib import Path
#from params import *

def get_data_from_bq(
    gcp_project: 'train-delays-406412',
    query: str):
    client = bigquery.Client()
    query_job = client.query(query)
    result = query_job.result()
    df = result.to_dataframe()
    return df

In [13]:
df = get_data_from_bq(gcp_project=GCP_PROJECT, query=query)
df

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES
0,522N48MJ08,2018-12-08 11:45:00,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,9.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
1,522Y72MF19,2022-12-19 09:36:00,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,12.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
2,522N20MZ30,2023-01-30 20:17:00,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,8.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
3,522N02MX24,2018-11-24 18:33:00,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,10.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
4,522Y08MX24,2018-11-24 18:53:00,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,11.0,51.54343,-0.02447,HACKNEY WICK,51.54343,-0.02447,HACKNEY WICK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498747,725J992823,2023-01-23 22:21:00,2023-01-23 22:55:00,21921000,EK01,WD,N,None,NaN,XQHM,XL,YD,M,12.0,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None
498748,515J04M513,2023-03-13 05:40:00,2023-03-13 05:49:00,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,YO,M,12.0,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None
498749,722J75MQ09,2023-05-09 15:24:00,2023-05-09 16:02:00,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,None,M,18.0,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None
498750,722J57MM30,2023-01-30 13:09:00,2023-01-30 13:47:00,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,YD,M,1.5,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None
498751,512J95MZ11,2022-12-11 21:08:00,2022-12-11 21:17:00,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,None,M,5.0,51.54014,0.07965,BARKING NO7 PLATFORM,51.51911,0.11477,None

In [14]:
X = df.drop(columns = 'PFPI_MINUTES')
y = df['PFPI_MINUTES']

In [15]:
df['PLANNED_ORIG_WTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_ORIG_WTT_DATETIME_AFF'])

In [16]:
df['PLANNED_DEST_WTT_DATETIME_AFF'] = pd.to_datetime(df['PLANNED_DEST_WTT_DATETIME_AFF'])

In [17]:
dms_df = df[df['TRACTION_TYPE_AFFECTED'] == 'DMS']
dms_df

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES
14981,635M11M922,2018-07-22 23:40:00,2018-07-23 00:20:00,21921000,EK01,SU,Y,DMS,NaN,QQA0,QM,None,M,0.0,51.54189,-0.13928,CAMDEN ROAD JN,51.54189,-0.13928,CAMDEN ROAD JN
118626,512J19MI22,2018-04-22 11:08:00,2018-04-22 11:43:00,21921000,EK01,SU,Y,DMS,NaN,MEKF,MD,None,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118627,722J07MA30,2018-04-30 07:05:00,2018-04-30 07:39:00,21921000,EK01,WD,Y,DMS,NaN,MEKF,MD,None,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118650,512J401U22,2018-06-22 17:18:00,2018-06-22 17:31:00,21921000,EK01,WD,Y,DMS,NaN,TEKJ,TG,YI,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118651,725L401S22,2018-06-22 16:05:00,2018-06-22 17:17:00,21921000,EK01,WD,Y,DMS,NaN,TEKJ,TG,None,M,0.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459172,725L401S22,2018-06-22 16:05:00,2018-06-22 17:17:00,21921000,EK01,WD,Y,DMS,NaN,MEK0,MU,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459173,725L401S26,2018-06-26 16:05:00,2018-06-26 17:17:00,21921000,EK01,WD,Y,DMS,NaN,MEK0,MU,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459862,725L401S28,2018-06-28 16:05:00,2018-06-28 17:17:00,21921000,EK01,WD,Y,DMS,NaN,MEKF,MC,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459896,725L401S11,2018-06-11 16:05:00,2018-06-11 17:17:00,21921000,EK01,WD,Y,DMS,NaN,IQHP,IS,YP,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
460034,635M11M906,2018-05-06 23:41:00,2018-05-07 00:15:00,21921000,EK01,SU,Y,DMS,NaN,OQRZ,OU,None,M,0.0,51.53240,-0.24453,WILLESDEN JN LOW LEVEL,51.53136,-0.24013,WILLESDEN T.M.D

In [18]:
dms_df['UNIT_CLASS_AFFECTED'].replace(np.nan, '172.0', inplace = True)

/tmp/ipykernel_16677/2209472142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dms_df['UNIT_CLASS_AFFECTED'].replace(np.nan, '172.0', inplace = True)

In [19]:
dms_df

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,STATION_OR,Lat_DES,Lon_DES,STATION_DES
14981,635M11M922,2018-07-22 23:40:00,2018-07-23 00:20:00,21921000,EK01,SU,Y,DMS,172.0,QQA0,QM,None,M,0.0,51.54189,-0.13928,CAMDEN ROAD JN,51.54189,-0.13928,CAMDEN ROAD JN
118626,512J19MI22,2018-04-22 11:08:00,2018-04-22 11:43:00,21921000,EK01,SU,Y,DMS,172.0,MEKF,MD,None,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118627,722J07MA30,2018-04-30 07:05:00,2018-04-30 07:39:00,21921000,EK01,WD,Y,DMS,172.0,MEKF,MD,None,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118650,512J401U22,2018-06-22 17:18:00,2018-06-22 17:31:00,21921000,EK01,WD,Y,DMS,172.0,TEKJ,TG,YI,M,4.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
118651,725L401S22,2018-06-22 16:05:00,2018-06-22 17:17:00,21921000,EK01,WD,Y,DMS,172.0,TEKJ,TG,None,M,0.0,51.58043,-0.07182,SOUTH TOTTENHAM,51.58043,-0.07182,SOUTH TOTTENHAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459172,725L401S22,2018-06-22 16:05:00,2018-06-22 17:17:00,21921000,EK01,WD,Y,DMS,172.0,MEK0,MU,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459173,725L401S26,2018-06-26 16:05:00,2018-06-26 17:17:00,21921000,EK01,WD,Y,DMS,172.0,MEK0,MU,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459862,725L401S28,2018-06-28 16:05:00,2018-06-28 17:17:00,21921000,EK01,WD,Y,DMS,172.0,MEKF,MC,None,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
459896,725L401S11,2018-06-11 16:05:00,2018-06-11 17:17:00,21921000,EK01,WD,Y,DMS,172.0,IQHP,IS,YP,M,0.0,51.53136,-0.24013,WILLESDEN T.M.D,51.53136,-0.24013,WILLESDEN T.M.D
460034,635M11M906,2018-05-06 23:41:00,2018-05-07 00:15:00,21921000,EK01,SU,Y,DMS,172.0,OQRZ,OU,None,M,0.0,51.53240,-0.24453,WILLESDEN JN LOW LEVEL,51.53136,-0.24013,WILLESDEN T.M.D

In [20]:
df.drop(columns = ['STATION_OR', 'STATION_DES'], inplace= True)

In [21]:
df

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,Lat_DES,Lon_DES
0,522N48MJ08,2018-12-08 11:45:00,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,9.0,51.54343,-0.02447,51.54343,-0.02447
1,522Y72MF19,2022-12-19 09:36:00,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,12.0,51.54343,-0.02447,51.54343,-0.02447
2,522N20MZ30,2023-01-30 20:17:00,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,8.0,51.54343,-0.02447,51.54343,-0.02447
3,522N02MX24,2018-11-24 18:33:00,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,10.0,51.54343,-0.02447,51.54343,-0.02447
4,522Y08MX24,2018-11-24 18:53:00,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,11.0,51.54343,-0.02447,51.54343,-0.02447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498747,725J992823,2023-01-23 22:21:00,2023-01-23 22:55:00,21921000,EK01,WD,N,None,NaN,XQHM,XL,YD,M,12.0,51.54014,0.07965,51.51911,0.11477
498748,515J04M513,2023-03-13 05:40:00,2023-03-13 05:49:00,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,YO,M,12.0,51.54014,0.07965,51.51911,0.11477
498749,722J75MQ09,2023-05-09 15:24:00,2023-05-09 16:02:00,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,None,M,18.0,51.54014,0.07965,51.51911,0.11477
498750,722J57MM30,2023-01-30 13:09:00,2023-01-30 13:47:00,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,YD,M,1.5,51.54014,0.07965,51.51911,0.11477
498751,512J95MZ11,2022-12-11 21:08:00,2022-12-11 21:17:00,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,None,M,5.0,51.54014,0.07965,51.51911,0.11477

In [22]:
df['TRAIN_SERVICE_CODE_AFFECTED'].unique()

array([22214000, 22204000, 21921000, 22216000, 25234001, 21234001,
       21252001, 21235001, 25235001, 22206000, 22215003, 22218000,
       21237001, 22215002])

In [23]:
df['ENGLISH_DAY_TYPE'].isnull().sum()

0

In [24]:
df['REACTIONARY_REASON_CODE'].value_counts()

YD    113139
YB     72367
YI     62425
YO     14976
YA     13592
YC     10883
YX      2996
YP      2657
YG      1266
YV      1208
YE       384
YJ       222
YU       205
YN        46
YM        24
YR        21
YL        21
YQ         4
YT         1
TO         1
Name: REACTIONARY_REASON_CODE, dtype: int64

In [25]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,Lat_DES,Lon_DES
0,522N48MJ08,2018-12-08 11:45:00,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,9.0,51.54343,-0.02447,51.54343,-0.02447
1,522Y72MF19,2022-12-19 09:36:00,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,12.0,51.54343,-0.02447,51.54343,-0.02447
2,522N20MZ30,2023-01-30 20:17:00,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,8.0,51.54343,-0.02447,51.54343,-0.02447
3,522N02MX24,2018-11-24 18:33:00,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,10.0,51.54343,-0.02447,51.54343,-0.02447
4,522Y08MX24,2018-11-24 18:53:00,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,11.0,51.54343,-0.02447,51.54343,-0.02447

In [26]:
df.loc[:, 'PLANNED_ORIG_WTT_DATETIME_AFF'] = pd.to_datetime(df.PLANNED_ORIG_WTT_DATETIME_AFF)
df.loc[:, 'ORIG_MONTH'] = df.PLANNED_ORIG_WTT_DATETIME_AFF.dt.month
df.loc[:, 'ORIG_DAY'] = df.PLANNED_ORIG_WTT_DATETIME_AFF.dt.day
df.loc[:, 'ORIG_HOUR'] = df.PLANNED_ORIG_WTT_DATETIME_AFF.dt.hour
df.loc[:, 'ORIG_MINUTE'] = df.PLANNED_ORIG_WTT_DATETIME_AFF.dt.minute
df.drop(columns='PLANNED_ORIG_WTT_DATETIME_AFF', inplace = True)

In [27]:
df.head()

,TRUST_TRAIN_ID_AFFECTED,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,...,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE
0,522N48MJ08,2018-12-08 12:47:00,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,...,M,9.0,51.54343,-0.02447,51.54343,-0.02447,12,8,11,45
1,522Y72MF19,2022-12-19 10:39:00,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,...,M,12.0,51.54343,-0.02447,51.54343,-0.02447,12,19,9,36
2,522N20MZ30,2023-01-30 21:19:00,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,...,M,8.0,51.54343,-0.02447,51.54343,-0.02447,1,30,20,17
3,522N02MX24,2018-11-24 19:32:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,...,M,10.0,51.54343,-0.02447,51.54343,-0.02447,11,24,18,33
4,522Y08MX24,2018-11-24 19:55:00,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,...,M,11.0,51.54343,-0.02447,51.54343,-0.02447,11,24,18,53

In [28]:
df.loc[:, 'PLANNED_DEST_WTT_DATETIME_AFF'] = pd.to_datetime(df.PLANNED_DEST_WTT_DATETIME_AFF)
df.loc[:, 'DEST_MONTH'] = df.PLANNED_DEST_WTT_DATETIME_AFF.dt.month
df.loc[:, 'DEST_DAY'] = df.PLANNED_DEST_WTT_DATETIME_AFF.dt.day
df.loc[:, 'DEST_HOUR'] = df.PLANNED_DEST_WTT_DATETIME_AFF.dt.hour
df.loc[:, 'DEST_MINUTE'] = df.PLANNED_DEST_WTT_DATETIME_AFF.dt.minute
df.drop(columns='PLANNED_DEST_WTT_DATETIME_AFF', inplace = True)

In [29]:
df.drop(columns=['TRUST_TRAIN_ID_AFFECTED'], inplace=True)

In [30]:
df.head()

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,53,11,24,19,55

In [31]:
df2 = df[df['TRACTION_TYPE_AFFECTED'] == 'EMU']

In [32]:
df2.head()

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,53,11,24,19,55

In [33]:
df2['TRACTION_TYPE_AFFECTED'].isnull().sum()

0

In [34]:
df2.drop(columns = ['REACTIONARY_REASON_CODE'])

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,M,9.0,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,M,12.0,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,M,8.0,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,10.0,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,11.0,...,51.54343,-0.02447,11,24,18,53,11,24,19,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,21921000,EK01,WD,Y,EMU,710.0,XQHM,XL,M,4.0,...,51.51911,0.11477,1,23,22,29,1,23,23,7
498748,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,M,12.0,...,51.51911,0.11477,3,13,5,40,3,13,5,49
498749,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,M,18.0,...,51.51911,0.11477,5,9,15,24,5,9,16,2
498750,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,M,1.5,...,51.51911,0.11477,1,30,13,9,1,30,13,47
498751,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,M,5.0,...,51.51911,0.11477,12,11,21,8,12,11,21,17

In [35]:
df2

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,53,11,24,19,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,21921000,EK01,WD,Y,EMU,710.0,XQHM,XL,YD,M,...,51.51911,0.11477,1,23,22,29,1,23,23,7
498748,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,YO,M,...,51.51911,0.11477,3,13,5,40,3,13,5,49
498749,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,None,M,...,51.51911,0.11477,5,9,15,24,5,9,16,2
498750,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,YD,M,...,51.51911,0.11477,1,30,13,9,1,30,13,47
498751,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,None,M,...,51.51911,0.11477,12,11,21,8,12,11,21,17

In [36]:
df2.dropna(axis=0, subset=['INCIDENT_REASON'], inplace=True)

/tmp/ipykernel_16677/1753217087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(axis=0, subset=['INCIDENT_REASON'], inplace=True)

In [37]:
df2.dropna(axis=0, subset=['UNIT_CLASS_AFFECTED'], inplace=True)

/tmp/ipykernel_16677/59895128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(axis=0, subset=['UNIT_CLASS_AFFECTED'], inplace=True)

In [38]:
df2['INCIDENT_REASON'].isnull().sum()

0

In [39]:
df2['REACTIONARY_REASON_CODE'].isnull().sum()

199115

In [40]:
df2['PERFORMANCE_EVENT_CODE'].unique()

array(['M', 'A'], dtype=object)

In [41]:
df2['PERFORMANCE_EVENT_CODE'].value_counts()

M    400070
A     93181
Name: PERFORMANCE_EVENT_CODE, dtype: int64

In [42]:
df2['UNIT_CLASS_AFFECTED'].isnull().sum()

0

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493251 entries, 0 to 498751
Data columns (total 23 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRAIN_SERVICE_CODE_AFFECTED  493251 non-null  int64
 1   SERVICE_GROUP_CODE_AFFECTED  493251 non-null  object
 2   ENGLISH_DAY_TYPE             493251 non-null  object
 3   APP_TIMETABLE_FLAG_AFF       493251 non-null  object
 4   TRACTION_TYPE_AFFECTED       493251 non-null  object
 5   UNIT_CLASS_AFFECTED          493251 non-null  float64
 6   RESPONSIBLE_MANAGER          493251 non-null  object
 7   INCIDENT_REASON              493251 non-null  object
 8   REACTIONARY_REASON_CODE      294136 non-null  object
 9   PERFORMANCE_EVENT_CODE       493251 non-null  object
 10  PFPI_MINUTES                 493251 non-null  float64
 11  Lat_OR                       493251 non-null  float64
 12  Lon_OR                       493251 non-null  float64
 13  Lat_DES                      493251 non-null  float64
 14  Lon_DES                      493251 non-null  float64
 15  ORIG_MONTH                   493251 non-null  int64
 16  ORIG_DAY                     493251 non-null  int64
 17  ORIG_HOUR                    493251 non-null  int64
 18  ORIG_MINUTE                  493251 non-null  int64
 19  DEST_MONTH                   493251 non-null  int64
 20  DEST_DAY                     493251 non-null  int64
 21  DEST_HOUR                    493251 non-null  int64
 22  DEST_MINUTE                  493251 non-null  int64
dtypes: float64(6), int64(9), object(8)
memory usage: 90.3+ MB

In [44]:
df2

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,REACTIONARY_REASON_CODE,PERFORMANCE_EVENT_CODE,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,YI,M,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,YI,M,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,YI,M,...,51.54343,-0.02447,11,24,18,53,11,24,19,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,21921000,EK01,WD,Y,EMU,710.0,XQHM,XL,YD,M,...,51.51911,0.11477,1,23,22,29,1,23,23,7
498748,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,YO,M,...,51.51911,0.11477,3,13,5,40,3,13,5,49
498749,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,None,M,...,51.51911,0.11477,5,9,15,24,5,9,16,2
498750,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,YD,M,...,51.51911,0.11477,1,30,13,9,1,30,13,47
498751,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,None,M,...,51.51911,0.11477,12,11,21,8,12,11,21,17

In [45]:
df2.drop(columns =['REACTIONARY_REASON_CODE'], inplace = True)

/tmp/ipykernel_16677/2203718724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns =['REACTIONARY_REASON_CODE'], inplace = True)

In [46]:
df2

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,M,9.0,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,M,12.0,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,M,8.0,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,10.0,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,11.0,...,51.54343,-0.02447,11,24,18,53,11,24,19,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,21921000,EK01,WD,Y,EMU,710.0,XQHM,XL,M,4.0,...,51.51911,0.11477,1,23,22,29,1,23,23,7
498748,21921000,EK01,WD,Y,EMU,710.0,TEKD,T3,M,12.0,...,51.51911,0.11477,3,13,5,40,3,13,5,49
498749,21921000,EK01,WD,Y,EMU,710.0,MEKP,M1,M,18.0,...,51.51911,0.11477,5,9,15,24,5,9,16,2
498750,21921000,EK01,WD,Y,EMU,710.0,DPEC,FX,M,1.5,...,51.51911,0.11477,1,30,13,9,1,30,13,47
498751,21921000,EK01,SU,Y,EMU,710.0,XQHM,X9,M,5.0,...,51.51911,0.11477,12,11,21,8,12,11,21,17

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493251 entries, 0 to 498751
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TRAIN_SERVICE_CODE_AFFECTED  493251 non-null  int64
 1   SERVICE_GROUP_CODE_AFFECTED  493251 non-null  object
 2   ENGLISH_DAY_TYPE             493251 non-null  object
 3   APP_TIMETABLE_FLAG_AFF       493251 non-null  object
 4   TRACTION_TYPE_AFFECTED       493251 non-null  object
 5   UNIT_CLASS_AFFECTED          493251 non-null  float64
 6   RESPONSIBLE_MANAGER          493251 non-null  object
 7   INCIDENT_REASON              493251 non-null  object
 8   PERFORMANCE_EVENT_CODE       493251 non-null  object
 9   PFPI_MINUTES                 493251 non-null  float64
 10  Lat_OR                       493251 non-null  float64
 11  Lon_OR                       493251 non-null  float64
 12  Lat_DES                      493251 non-null  float64
 13  Lon_DES                      493251 non-null  float64
 14  ORIG_MONTH                   493251 non-null  int64
 15  ORIG_DAY                     493251 non-null  int64
 16  ORIG_HOUR                    493251 non-null  int64
 17  ORIG_MINUTE                  493251 non-null  int64
 18  DEST_MONTH                   493251 non-null  int64
 19  DEST_DAY                     493251 non-null  int64
 20  DEST_HOUR                    493251 non-null  int64
 21  DEST_MINUTE                  493251 non-null  int64
dtypes: float64(6), int64(9), object(7)
memory usage: 86.6+ MB

In [48]:
df2.head()

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,TRACTION_TYPE_AFFECTED,UNIT_CLASS_AFFECTED,RESPONSIBLE_MANAGER,INCIDENT_REASON,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,...,Lat_DES,Lon_DES,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,22214000,EK01,SA,Y,EMU,375.0,MEKJ,MD,M,9.0,...,51.54343,-0.02447,12,8,11,45,12,8,12,47
1,22214000,EK01,WD,Y,EMU,378.0,MEKJ,MD,M,12.0,...,51.54343,-0.02447,12,19,9,36,12,19,10,39
2,22214000,EK01,WD,Y,EMU,378.0,XQHM,X8,M,8.0,...,51.54343,-0.02447,1,30,20,17,1,30,21,19
3,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,10.0,...,51.54343,-0.02447,11,24,18,33,11,24,19,32
4,22214000,EK01,SA,Y,EMU,375.0,TEKA,TG,M,11.0,...,51.54343,-0.02447,11,24,18,53,11,24,19,55

In [49]:
sin_cos_df = df2[['ORIG_MONTH','ORIG_DAY','ORIG_HOUR','ORIG_MINUTE','DEST_MONTH','DEST_DAY','DEST_HOUR','DEST_MINUTE']]

In [50]:
sin_cos_df

,ORIG_MONTH,ORIG_DAY,ORIG_HOUR,ORIG_MINUTE,DEST_MONTH,DEST_DAY,DEST_HOUR,DEST_MINUTE
0,12,8,11,45,12,8,12,47
1,12,19,9,36,12,19,10,39
2,1,30,20,17,1,30,21,19
3,11,24,18,33,11,24,19,32
4,11,24,18,53,11,24,19,55
...,...,...,...,...,...,...,...,...
498746,1,23,22,29,1,23,23,7
498748,3,13,5,40,3,13,5,49
498749,5,9,15,24,5,9,16,2
498750,1,30,13,9,1,30,13,47
498751,12,11,21,8,12,11,21,17

In [51]:
sin_cos_df.columns

Index(['ORIG_MONTH', 'ORIG_DAY', 'ORIG_HOUR', 'ORIG_MINUTE', 'DEST_MONTH',
       'DEST_DAY', 'DEST_HOUR', 'DEST_MINUTE'],
      dtype='object')

In [52]:
import math

def col_transform(col_name):
    df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
    df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
    df2.drop(columns=[col_name], inplace=True)

In [53]:
for col in sin_cos_df.columns:
    col_transform(col)

/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)
/tmp/ipykernel_16677/391943590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_SIN'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.sin(2 * math.pi * x / 60))

/tmp/ipykernel_16677/391943590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[f'{col_name}_COS'] = sin_cos_df[f'{col_name}'].apply(lambda x: math.cos(2 * math.pi * x / 60))
/tmp/ipykernel_16677/391943590.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=[col_name], inplace=True)

In [54]:
df2.columns

Index(['TRAIN_SERVICE_CODE_AFFECTED', 'SERVICE_GROUP_CODE_AFFECTED',
       'ENGLISH_DAY_TYPE', 'APP_TIMETABLE_FLAG_AFF', 'TRACTION_TYPE_AFFECTED',
       'UNIT_CLASS_AFFECTED', 'RESPONSIBLE_MANAGER', 'INCIDENT_REASON',
       'PERFORMANCE_EVENT_CODE', 'PFPI_MINUTES', 'Lat_OR', 'Lon_OR', 'Lat_DES',
       'Lon_DES', 'ORIG_MONTH_SIN', 'ORIG_MONTH_COS', 'ORIG_DAY_SIN',
       'ORIG_DAY_COS', 'ORIG_HOUR_SIN', 'ORIG_HOUR_COS', 'ORIG_MINUTE_SIN',
       'ORIG_MINUTE_COS', 'DEST_MONTH_SIN', 'DEST_MONTH_COS', 'DEST_DAY_SIN',
       'DEST_DAY_COS', 'DEST_HOUR_SIN', 'DEST_HOUR_COS', 'DEST_MINUTE_SIN',
       'DEST_MINUTE_COS'],
      dtype='object')

In [55]:
df2.drop(columns = ['RESPONSIBLE_MANAGER', 'TRACTION_TYPE_AFFECTED'], inplace = True)

/tmp/ipykernel_16677/2597073451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns = ['RESPONSIBLE_MANAGER', 'TRACTION_TYPE_AFFECTED'], inplace = True)

In [56]:
df2

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,UNIT_CLASS_AFFECTED,INCIDENT_REASON,PERFORMANCE_EVENT_CODE,PFPI_MINUTES,Lat_OR,Lon_OR,...,ORIG_MINUTE_SIN,ORIG_MINUTE_COS,DEST_MONTH_SIN,DEST_MONTH_COS,DEST_DAY_SIN,DEST_DAY_COS,DEST_HOUR_SIN,DEST_HOUR_COS,DEST_MINUTE_SIN,DEST_MINUTE_COS
0,22214000,EK01,SA,Y,375.0,MD,M,9.0,51.54343,-0.02447,...,-1.000000,-1.836970e-16,0.951057,0.309017,7.431448e-01,0.669131,0.951057,0.309017,-0.978148,0.207912
1,22214000,EK01,WD,Y,378.0,MD,M,12.0,51.54343,-0.02447,...,-0.587785,-8.090170e-01,0.951057,0.309017,9.135455e-01,-0.406737,0.866025,0.500000,-0.809017,-0.587785
2,22214000,EK01,WD,Y,378.0,X8,M,8.0,51.54343,-0.02447,...,0.978148,-2.079117e-01,0.104528,0.994522,5.665539e-16,-1.000000,0.809017,-0.587785,0.913545,-0.406737
3,22214000,EK01,SA,Y,375.0,TG,M,10.0,51.54343,-0.02447,...,-0.309017,-9.510565e-01,0.913545,0.406737,5.877853e-01,-0.809017,0.913545,-0.406737,-0.207912,-0.978148
4,22214000,EK01,SA,Y,375.0,TG,M,11.0,51.54343,-0.02447,...,-0.669131,7.431448e-01,0.913545,0.406737,5.877853e-01,-0.809017,0.913545,-0.406737,-0.500000,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,21921000,EK01,WD,Y,710.0,XL,M,4.0,51.54014,0.07965,...,0.104528,-9.945219e-01,0.104528,0.994522,6.691306e-01,-0.743145,0.669131,-0.743145,0.669131,0.743145
498748,21921000,EK01,WD,Y,710.0,T3,M,12.0,51.54014,0.07965,...,-0.866025,-5.000000e-01,0.309017,0.951057,9.781476e-01,0.207912,0.500000,0.866025,-0.913545,0.406737
498749,21921000,EK01,WD,Y,710.0,M1,M,18.0,51.54014,0.07965,...,0.587785,-8.090170e-01,0.500000,0.866025,8.090170e-01,0.587785,0.994522,-0.104528,0.207912,0.978148
498750,21921000,EK01,WD,Y,710.0,FX,M,1.5,51.54014,0.07965,...,0.809017,5.877853e-01,0.104528,0.994522,5.665539e-16,-1.000000,0.978148,0.207912,-0.978148,0.207912
498751,21921000,EK01,SU,Y,710.0,X9,M,5.0,51.54014,0.07965,...,0.743145,6.691306e-01,0.951057,0.309017,9.135455e-01,0.406737,0.809017,-0.587785,0.978148,-0.207912

In [69]:
df2.to_csv('clean_data.csv', index = False)

# Baseline model

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression

In [58]:
#base_model = LinearRegression()

In [59]:
#base_model.fit(X,y)

ValueError: could not convert string to float: '522N48MJ08'

# PIPELINE

In [60]:
X = df2.drop(columns = 'PFPI_MINUTES')
y = df2['PFPI_MINUTES']

In [61]:
X_train, y_train, X_test, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3, shuffle = True)

In [62]:
X_train

,TRAIN_SERVICE_CODE_AFFECTED,SERVICE_GROUP_CODE_AFFECTED,ENGLISH_DAY_TYPE,APP_TIMETABLE_FLAG_AFF,UNIT_CLASS_AFFECTED,INCIDENT_REASON,PERFORMANCE_EVENT_CODE,Lat_OR,Lon_OR,Lat_DES,...,ORIG_MINUTE_SIN,ORIG_MINUTE_COS,DEST_MONTH_SIN,DEST_MONTH_COS,DEST_DAY_SIN,DEST_DAY_COS,DEST_HOUR_SIN,DEST_HOUR_COS,DEST_MINUTE_SIN,DEST_MINUTE_COS
107619,22214000,EK01,WD,Y,378.0,RB,M,51.542300,-0.003300,51.542300,...,-0.207912,-9.781476e-01,0.309017,0.951057,0.309017,0.951057,0.809017,-5.877853e-01,-0.104528,-0.994522
458595,22214000,EK01,WD,Y,378.0,MP,M,51.522740,-0.254870,51.532500,...,-0.994522,1.045285e-01,0.866025,0.500000,0.951057,0.309017,0.866025,-5.000000e-01,-0.913545,0.406737
41833,22215003,EK03,WD,Y,375.0,OA,M,51.397017,-0.075196,51.475850,...,-0.994522,1.045285e-01,0.913545,0.406737,0.406737,-0.913545,0.913545,4.067366e-01,-0.587785,-0.809017
77373,22206000,EK03,WD,Y,378.0,TI,M,51.467260,-0.135220,51.470180,...,-1.000000,-1.836970e-16,0.587785,0.809017,0.743145,0.669131,1.000000,2.832769e-16,0.406737,-0.913545
192687,22218000,EK99,WD,Y,378.0,TG,M,51.475850,-0.040830,51.497990,...,-0.978148,2.079117e-01,0.587785,0.809017,0.994522,-0.104528,0.994522,-1.045285e-01,0.104528,-0.994522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367936,21234001,EK04,WD,Y,315.0,TA,M,51.517991,-0.081400,51.517991,...,0.809017,-5.877853e-01,0.809017,0.587785,0.406737,-0.913545,0.669131,7.431448e-01,-0.587785,0.809017
105259,22214000,EK01,WD,Y,378.0,TG,M,51.542300,-0.003300,51.542300,...,-0.743145,6.691306e-01,0.951057,0.309017,0.994522,-0.104528,0.951057,-3.090170e-01,-0.500000,0.866025
181262,22218000,EK99,WD,Y,375.0,X8,M,51.519470,-0.059750,51.497990,...,-0.309017,9.510565e-01,0.913545,0.406737,0.669131,0.743145,0.951057,-3.090170e-01,0.913545,-0.406737
437945,22204000,EK01,SA,Y,375.0,I1,M,51.532500,-0.244540,51.532500,...,0.669131,-7.431448e-01,0.951057,0.309017,0.104528,0.994522,0.809017,-5.877853e-01,0.500000,-0.866025
184368,22218000,EK99,WD,Y,375.0,RB,M,51.519470,-0.059750,51.497990,...,-0.978148,2.079117e-01,0.669131,0.743145,0.866025,0.500000,0.951057,3.090170e-01,-0.809017,-0.587785

In [63]:
from sklearn.compose import make_column_transformer

In [64]:
num_transformer = MinMaxScaler()

cat_transformer = OneHotEncoder(handle_unknown='ignore', sparse_output = False)

transformer = make_column_transformer((num_transformer, ['Lat_OR','Lon_OR', 'Lat_DES','Lon_DES']),
                                  (cat_transformer, ['ENGLISH_DAY_TYPE', 'SERVICE_GROUP_CODE_AFFECTED', 'INCIDENT_REASON',
                                                        'UNIT_CLASS_AFFECTED', 'TRAIN_SERVICE_CODE_AFFECTED', 
                                                     'PERFORMANCE_EVENT_CODE', 
                                                     'APP_TIMETABLE_FLAG_AFF']),
                                remainder = 'passthrough')


pipe = Pipeline([('transformer', transformer)])

pipe

Pipeline(steps=[('transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('minmaxscaler',
                                                  MinMaxScaler(),
                                                  ['Lat_OR', 'Lon_OR',
                                                   'Lat_DES', 'Lon_DES']),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  ['ENGLISH_DAY_TYPE',
                                                   'SERVICE_GROUP_CODE_AFFECTED',
                                                   'INCIDENT_REASON',
                                                   'UNIT_CLASS_AFFECTED',
                                                   'TRAIN_SERVICE_CODE_AFFECTED',
                                                   'PERFORMANCE_EVENT_CODE',
                                                   'APP_TIMETABLE_FLAG_AFF'])]))])

In [65]:
pipe.get_params()

{'memory': None,
 'steps': [('transformer',
   ColumnTransformer(remainder='passthrough',
                     transformers=[('minmaxscaler', MinMaxScaler(),
                                    ['Lat_OR', 'Lon_OR', 'Lat_DES', 'Lon_DES']),
                                   ('onehotencoder',
                                    OneHotEncoder(handle_unknown='ignore',
                                                  sparse_output=False),
                                    ['ENGLISH_DAY_TYPE',
                                     'SERVICE_GROUP_CODE_AFFECTED',
                                     'INCIDENT_REASON', 'UNIT_CLASS_AFFECTED',
                                     'TRAIN_SERVICE_CODE_AFFECTED',
                                     'PERFORMANCE_EVENT_CODE',
                                     'APP_TIMETABLE_FLAG_AFF'])]))],
 'verbose': False,
 'transformer': ColumnTransformer(remainder='passthrough',
                   transformers=[('minmaxscaler', MinMaxScaler(),
                                  ['Lat_OR', 'Lon_OR', 'Lat_DES', 'Lon_DES']),
                                 ('onehotencoder',
                                  OneHotEncoder(handle_unknown='ignore',
                                                sparse_output=False),
                                  ['ENGLISH_DAY_TYPE',
                                   'SERVICE_GROUP_CODE_AFFECTED',
                                   'INCIDENT_REASON', 'UNIT_CLASS_AFFECTED',
                                   'TRAIN_SERVICE_CODE_AFFECTED',
                                   'PERFORMANCE_EVENT_CODE',
                                   'APP_TIMETABLE_FLAG_AFF'])]),
 'transformer__n_jobs': None,
 'transformer__remainder': 'passthrough',
 'transformer__sparse_threshold': 0.3,
 'transformer__transformer_weights': None,
 'transformer__transformers': [('minmaxscaler',
   MinMaxScaler(),
   ['Lat_OR', 'Lon_OR', 'Lat_DES', 'Lon_DES']),
  ('onehotencoder',
   OneHotEncoder(handle_unknown='ignore', sparse_output=False),
   ['ENGLISH_DAY_TYPE',
    'SERVICE_GROUP_CODE_AFFECTED',
    'INCIDENT_REASON',
    'UNIT_CLASS_AFFECTED',
    'TRAIN_SERVICE_CODE_AFFECTED',
    'PERFORMANCE_EVENT_CODE',
    'APP_TIMETABLE_FLAG_AFF'])],
 'transformer__verbose': False,
 'transformer__verbose_feature_names_out': True,
 'transformer__minmaxscaler': MinMaxScaler(),
 'transformer__onehotencoder': OneHotEncoder(handle_unknown='ignore', sparse_output=False),
 'transformer__minmaxscaler__clip': False,
 'transformer__minmaxscaler__copy': True,
 'transformer__minmaxscaler__feature_range': (0, 1),
 'transformer__onehotencoder__categories': 'auto',
 'transformer__onehotencoder__drop': None,
 'transformer__onehotencoder__dtype': numpy.float64,
 'transformer__onehotencoder__feature_name_combiner': 'concat',
 'transformer__onehotencoder__handle_unknown': 'ignore',
 'transformer__onehotencoder__max_categories': None,
 'transformer__onehotencoder__min_frequency': None,
 'transformer__onehotencoder__sparse': 'deprecated',
 'transformer__onehotencoder__sparse_output': False}

In [66]:
pipe.fit(X_train)

Pipeline(steps=[('transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('minmaxscaler',
                                                  MinMaxScaler(),
                                                  ['Lat_OR', 'Lon_OR',
                                                   'Lat_DES', 'Lon_DES']),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  ['ENGLISH_DAY_TYPE',
                                                   'SERVICE_GROUP_CODE_AFFECTED',
                                                   'INCIDENT_REASON',
                                                   'UNIT_CLASS_AFFECTED',
                                                   'TRAIN_SERVICE_CODE_AFFECTED',
                                                   'PERFORMANCE_EVENT_CODE',
                                                   'APP_TIMETABLE_FLAG_AFF'])]))])

In [67]:
X_processed = pipe.transform(X_train)

In [68]:
X_processed

array([[ 0.69383175,  0.44195273,  0.69383175, ..., -0.58778525,
        -0.10452846, -0.9945219 ],
       [ 0.65631593,  0.15918615,  0.67503548, ..., -0.5       ,
        -0.91354546,  0.40673664],
       [ 0.41518071,  0.36114136,  0.56638153, ...,  0.40673664,
        -0.58778525, -0.80901699],
       ...,
       [ 0.65004411,  0.3785025 ,  0.60884576, ..., -0.30901699,
         0.91354546, -0.40673664],
       [ 0.67503548,  0.17079715,  0.67503548, ..., -0.58778525,
         0.5       , -0.8660254 ],
       [ 0.65004411,  0.3785025 ,  0.60884576, ...,  0.30901699,
        -0.80901699, -0.58778525]])